DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=security_system
DATABASE_USER=security_system
DATABASE_PASSWORD=security_system_local_password

DATABASE_SSL_MODE=disable
DATABASE_ECHO=false

DATABASE_POOL_SIZE=10
DATABASE_MAX_OVERFLOW=20
DATABASE_POOL_TIMEOUT_SECONDS=30
DATABASE_POOL_RECYCLE_SECONDS=1800
DATABASE_CONNECT_TIMEOUT_SECONDS=10
